<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="onrobot_vgc10_srdf" params="tf_prefix:=''">
    <!-- Gripper Planning Group -->
    <group name="gripper">
      <link name="${tf_prefix}onrobot_base_link"/>
      <link name="${tf_prefix}gripper_tcp"/>
      <joint name="${tf_prefix}vacuum_channel_a"/>
      <joint name="${tf_prefix}vacuum_channel_b"/>
    </group>

    <!-- Group States (Suction Modes) -->
    <group_state name="grip" group="gripper">
      <joint name="${tf_prefix}vacuum_channel_a" value="1.0"/>
    </group_state>
    <group_state name="release" group="gripper">
      <joint name="${tf_prefix}vacuum_channel_a" value="0.0"/>
    </group_state>
    <group_state name="closed" group="gripper">
      <joint name="${tf_prefix}vacuum_channel_a" value="1.0"/>
    </group_state>
    <group_state name="open" group="gripper">
      <joint name="${tf_prefix}vacuum_channel_a" value="0.0"/>
    </group_state>
    <group_state name="grip_a" group="gripper">
      <joint name="${tf_prefix}vacuum_channel_a" value="1.0"/>
    </group_state>
    <group_state name="grip_b" group="gripper">
      <joint name="${tf_prefix}vacuum_channel_b" value="1.0"/>
    </group_state>

    <!-- End Effector Definition -->
    <end_effector name="onrobot_vgc10_eef" parent_link="${tf_prefix}tool0" group="gripper" parent_group="ur_manipulator"/>

    <!-- Collision Disable Matrix for VGC10 -->
    <disable_collisions link1="${tf_prefix}onrobot_base_link" link2="${tf_prefix}cable_connector_0" reason="Adjacent"/>
    <disable_collisions link1="${tf_prefix}onrobot_base_link" link2="${tf_prefix}cable_connector_1" reason="Adjacent"/>
  </xacro:macro>
</robot>
