<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">

  <xacro:arg name="name" default="ur_onrobot"/>
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="onrobot_type" default="rg2" />

  <xacro:include filename="$(find ur_onrobot_moveit_config)/srdf/ur_onrobot_macro.srdf.xacro"/>
  <xacro:include filename="$(find ur_onrobot_moveit_config)/srdf/ur_onrobot_rg.srdf.xacro"/>
  <xacro:include filename="$(find ur_onrobot_moveit_config)/srdf/ur_onrobot_2fg7.srdf.xacro"/>
  <xacro:include filename="$(find ur_onrobot_moveit_config)/srdf/ur_onrobot_3fg15.srdf.xacro"/>

  <!-- Common robot configuration -->
  <xacro:ur_onrobot_srdf name="$(arg name)" prefix="$(arg prefix)"/>

  <!-- Gripper-specific configuration -->
  <xacro:property name="gripper" value="$(arg onrobot_type)" />

  <xacro:if value="${gripper == 'rg2' or gripper == 'rg6'}">
    <xacro:ur_onrobot_rg_srdf name="$(arg name)" prefix="$(arg prefix)"/>
  </xacro:if>
  
  <xacro:if value="${gripper == '2fg7' or gripper == '2fg14'}">
    <xacro:ur_onrobot_2fg7_srdf name="$(arg name)" prefix="$(arg prefix)"/>
  </xacro:if>

  <xacro:if value="${gripper == '3fg15'}">
    <xacro:ur_onrobot_3fg15_srdf name="$(arg name)" prefix="$(arg prefix)"/>
  </xacro:if>

</robot>
