<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="right_robot_with_environment">

   <!-- World Link -->
   <link name="world"/>

   <!-- Include environment components -->
   <xacro:include filename="$(find ur_workspace_description)/urdf/right_robot_environment.urdf.xacro"/>

   <!-- Create robot description -->
   <xacro:include filename="$(find ur_onrobot_description)/urdf/ur_onrobot_macro.xacro"/>

   <!-- Define parameters with defaults -->
   <xacro:arg name="ur_type" default="ur5e"/>
   <xacro:arg name="onrobot_type" default="2fg7"/>
   <xacro:arg name="robot_ip" default="192.168.1.101"/>
   <xacro:arg name="use_fake_hardware" default="true"/>
   <xacro:arg name="tf_prefix" default=""/>
   
   <!-- MODBUS parameters for gripper -->
   <xacro:arg name="connection_type" default="tcp"/>
   <xacro:arg name="ip_address" default="192.168.1.1"/>
   <xacro:arg name="port" default="502"/>
   <xacro:arg name="device_address" default="65"/>

   <!-- Cable connector (visual elements) -->
   <xacro:arg name="cable_connector" default="true"/>

   <!-- MAIN ROBOT - Attached to table_top in environment -->
   <xacro:ur_onrobot
        parent="table_top"
        robot_ip="$(arg robot_ip)"
        ur_type="$(arg ur_type)"
        onrobot_type="$(arg onrobot_type)"
        tf_prefix="$(arg tf_prefix)"
        use_fake_hardware="$(arg use_fake_hardware)"
        joint_limits_parameters_file="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"
        kinematics_parameters_file="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"
        physical_parameters_file="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"
        visual_parameters_file="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"
        script_filename="$(find ur_robot_driver)/resources/ros_control.urscript"
        output_recipe_filename="$(find ur_robot_driver)/resources/rtde_output_recipe.txt"
        input_recipe_filename="$(find ur_robot_driver)/resources/rtde_input_recipe.txt"
        connection_type="$(arg connection_type)"
        ip_address="$(arg ip_address)"
        port="$(arg port)"
        device_address="$(arg device_address)"
        cable_connector="$(arg cable_connector)">
        <!-- Robot positioned on table - ORIGEN FIJO -->
        <origin xyz="0.55 0.65 0.75" rpy="0 0 -1.570796327"/>
   </xacro:ur_onrobot>

</robot>