<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="workspace_environment">

  <!-- Materials -->
  <xacro:include filename="$(find ur_workspace_description)/meshes/materials/materials.xacro" />

  <!-- World Link -->
  <link name="world"/>

  <!-- Main Table (First Table) -->
  <link name="table_top">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <!-- Scale down from mm to m -->
        <mesh filename="package://ur_workspace_description/meshes/environment/table.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="workspace_light_gray"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.375" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.7 0.75"/>
      </geometry>
    </collision>
  </link>

  <joint name="world_to_table" type="fixed">
    <parent link="world"/>
    <child link="table_top"/>
    <origin xyz="0 0 0" rpy="0 0 1.5708"/>
  </joint>

  <!-- Second Table -->
  <link name="table_top_2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <!-- Scale down from mm to m -->
        <mesh filename="package://ur_workspace_description/meshes/environment/table.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="workspace_light_gray"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.375" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.7 0.75"/>
      </geometry>
    </collision>
  </link>

  <joint name="world_to_table_2" type="fixed">
    <parent link="world"/>
    <child link="table_top_2"/>
    <origin xyz="1.86 0 0" rpy="0 0 1.5708"/>
  </joint>

  <!-- Conveyor Belt -->
  <link name="conveyor_belt">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <!-- Scale down from mm to m -->
        <mesh filename="package://ur_workspace_description/meshes/environment/conveyor.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="workspace_dark_gray"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.2" rpy="0 0 0"/>
      <geometry>
        <box size="2.05 0.8 0.4"/>
      </geometry>
    </collision>
  </link>

  <joint name="world_to_conveyor" type="fixed">
    <parent link="world"/>
    <child link="conveyor_belt"/>
    <origin xyz="0.93 0 0" rpy="0 0 1.5708"/>
  </joint>

  <!-- Safety Barriers -->
  <!-- Back Barrier -->
  <link name="safety_barrier_back">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <!-- Scale down from mm to m -->
        <mesh filename="package://ur_workspace_description/meshes/environment/wide_safety_barrier.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="workspace_safety_yellow"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.4" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.05 0.8"/>
      </geometry>
    </collision>
  </link>

  <joint name="table_to_barrier_back" type="fixed">
    <parent link="table_top"/>
    <child link="safety_barrier_back"/>
    <origin xyz="0 0.45 0.3" rpy="0 0 0"/>
  </joint>

  <!-- Right Barrier -->
  <link name="safety_barrier_right">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <!-- Scale down from mm to m -->
        <mesh filename="package://ur_workspace_description/meshes/environment/narrow_safety_barrier.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="workspace_safety_yellow"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.4" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.7 0.8"/>
      </geometry>
    </collision>
  </link>

  <joint name="table_to_barrier_right" type="fixed">
    <parent link="table_top"/>
    <child link="safety_barrier_right"/>
    <origin xyz="-0.55 0 0.3" rpy="0 0 0"/>
  </joint>

  <!-- Left Barrier -->
  <link name="safety_barrier_left">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <!-- Scale down from mm to m -->
        <mesh filename="package://ur_workspace_description/meshes/environment/narrow_safety_barrier.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="workspace_safety_yellow"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.4" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.7 0.8"/>
      </geometry>
    </collision>
  </link>

  <joint name="table_to_barrier_left" type="fixed">
    <parent link="table_top"/>
    <child link="safety_barrier_left"/>
    <origin xyz="0.55 0 0.3" rpy="0 0 0"/>
  </joint>

  <!-- Front Barrier (between table and conveyor) -->
  <link name="safety_barrier_front">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <!-- Scale down from mm to m -->
        <mesh filename="package://ur_workspace_description/meshes/environment/wide_safety_barrier.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="workspace_safety_yellow"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.4" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.05 0.8"/>
      </geometry>
    </collision>
  </link>

  <joint name="table_to_barrier_front" type="fixed">
    <parent link="table_top"/>
    <child link="safety_barrier_front"/>
    <origin xyz="0 -0.45 0.3" rpy="0 0 0"/>
  </joint>

  <!-- Top Barrier -->
  <link name="safety_barrier_top">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <!-- Scale down from mm to m -->
        <mesh filename="package://ur_workspace_description/meshes/environment/top_safety_barrier.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="workspace_safety_yellow"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.7 1.2 0.01"/>
      </geometry>
    </collision>
  </link>

  <joint name="table_to_barrier_top" type="fixed">
    <parent link="table_top"/>
    <child link="safety_barrier_top"/>
    <origin xyz="0 0 1.2" rpy="0 0 0"/>
  </joint>

</robot>