<?xml version="1.0"?>
<robot name="ur_onrobot" xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- Arguments -->
    <xacro:arg name="robot_ip" default="192.168.1.101"/>
    <xacro:arg name="ur_type" default="ur5e"/>
    <xacro:arg name="onrobot_type" default="2fg7"/>
    <xacro:arg name="tf_prefix" default=""/>
    <xacro:arg name="name" default="ur_onrobot"/>
    <xacro:arg name="use_fake_hardware" default="false"/>
    <xacro:arg name="joint_limits_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
    <xacro:arg name="kinematics_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
    <xacro:arg name="physical_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
    <xacro:arg name="visual_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
    <xacro:arg name="script_filename" default="$(find ur_client_library)/resources/external_control.urscript"/>
    <xacro:arg name="input_recipe_filename" default="$(find ur_robot_driver)/resources/rtde_input_recipe.txt"/>
    <xacro:arg name="output_recipe_filename" default="$(find ur_robot_driver)/resources/rtde_output_recipe.txt"/>
    
    <!-- MODBUS parameters -->
    <xacro:arg name="connection_type" default="tcp"/>
    <xacro:arg name="ip_address" default="192.168.1.1"/>
    <xacro:arg name="port" default="502"/>
    <xacro:arg name="device_address" default="65"/>

    <xacro:include filename="$(find ur_onrobot_description)/urdf/ur_onrobot_macro.xacro"/>

    <link name="world"/>

    <!--This will create the scene where the robot is located in-->
    <xacro:ur_onrobot
        parent="world"
        robot_ip="$(arg robot_ip)"
        ur_type="$(arg ur_type)"
        onrobot_type="$(arg onrobot_type)"
        tf_prefix="$(arg tf_prefix)"
        use_fake_hardware="$(arg use_fake_hardware)"
        joint_limits_parameters_file="$(arg joint_limits_parameters_file)"
        kinematics_parameters_file="$(arg kinematics_parameters_file)"
        physical_parameters_file="$(arg physical_parameters_file)"
        visual_parameters_file="$(arg visual_parameters_file)"
        script_filename="$(arg script_filename)"
        output_recipe_filename="$(arg output_recipe_filename)"
        input_recipe_filename="$(arg input_recipe_filename)"
        connection_type="$(arg connection_type)"
        ip_address="$(arg ip_address)"
        port="$(arg port)"
        device_address="$(arg device_address)"
        >
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:ur_onrobot>

</robot>