<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="left_robot_gazebo">

  <!-- Include the original URDF -->
  <xacro:include filename="$(find ur_onrobot_control)/urdf/left_robot_with_environment.urdf.xacro" />
  
  <!-- Include Gazebo configuration -->
  <xacro:include filename="$(find ur_onrobot_gazebo)/description/urdf/left_robot_with_environment.gazebo.xacro" />

</robot>