<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <material name="gray">
    <color rgba="0.5 0.5 0.5 1.0"/>
  </material>

  <material name="light_gray">
    <color rgba="0.8 0.8 0.8 1.0"/>
  </material>

  <material name="dark_gray">
    <color rgba="0.3 0.3 0.3 1.0"/>
  </material>

  <material name="safety_yellow">
    <color rgba="1.0 1.0 0.0 0.3"/>
  </material>

  <material name="conveyor_black">
    <color rgba="0.1 0.1 0.1 1.0"/>
  </material>

</robot>