ros__parameters:
  controller_names:
    - scaled_joint_trajectory_controller
    - joint_trajectory_controller
    - finger_width_trajectory_controller

  scaled_joint_trajectory_controller:
    type: joint_trajectory_controller/JointTrajectoryController
    joints:
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
      - wrist_1_joint
      - wrist_2_joint
      - wrist_3_joint

  joint_trajectory_controller:
    type: joint_trajectory_controller/JointTrajectoryController
    joints:
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
      - wrist_1_joint
      - wrist_2_joint
      - wrist_3_joint

  finger_width_trajectory_controller:
    type: joint_trajectory_controller/JointTrajectoryController
    joints:
      - finger_width