controller_manager:
  ros__parameters:
    update_rate: 500  # Hz

    scaled_joint_trajectory_controller:
      type: joint_trajectory_controller/JointTrajectoryController
      joints:
        - shoulder_pan_joint
        - shoulder_lift_joint
        - elbow_joint
        - wrist_1_joint
        - wrist_2_joint
        - wrist_3_joint
      command_interfaces:
        - position
      state_interfaces:
        - position
        - velocity
      state_publish_rate: 100
      action_monitor_rate: 20
      allow_partial_joints_goal: true
      open_loop_control: false
      constraints:
        stopped_velocity_tolerance: 0.05
        goal_time: 10.0
        shoulder_pan_joint: { goal: 0.01, trajectory: 0.01 }
        shoulder_lift_joint: { goal: 0.01, trajectory: 0.01 }
        elbow_joint: { goal: 0.01, trajectory: 0.01 }
        wrist_1_joint: { goal: 0.01, trajectory: 0.01 }
        wrist_2_joint: { goal: 0.01, trajectory: 0.01 }
        wrist_3_joint: { goal: 0.01, trajectory: 0.01 }

    joint_trajectory_controller:
      type: joint_trajectory_controller/JointTrajectoryController
      joints:
        - shoulder_pan_joint
        - shoulder_lift_joint
        - elbow_joint
        - wrist_1_joint
        - wrist_2_joint
        - wrist_3_joint
      command_interfaces:
        - position
      state_interfaces:
        - position
        - velocity
      state_publish_rate: 100
      action_monitor_rate: 20
      allow_partial_joints_goal: true
      open_loop_control: false
      constraints:
        stopped_velocity_tolerance: 0.05
        goal_time: 10.0
        shoulder_pan_joint: { goal: 0.01, trajectory: 0.01 }
        shoulder_lift_joint: { goal: 0.01, trajectory: 0.01 }
        elbow_joint: { goal: 0.01, trajectory: 0.01 }
        wrist_1_joint: { goal: 0.01, trajectory: 0.01 }
        wrist_2_joint: { goal: 0.01, trajectory: 0.01 }
        wrist_3_joint: { goal: 0.01, trajectory: 0.01 }

    finger_width_trajectory_controller:
      type: joint_trajectory_controller/JointTrajectoryController
      joints:
        - finger_width
      command_interfaces:
        - position
      state_interfaces:
        - position
        - velocity
      state_publish_rate: 50
      action_monitor_rate: 10
      allow_partial_joints_goal: true
      open_loop_control: false
      constraints:
        stopped_velocity_tolerance: 0.01
        goal_time: 5.0
        finger_width: { goal: 0.001, trajectory: 0.001 }