moveit_servo:
  ros__parameters:
    use_intra_process_comms: true
    use_gazebo: false

    command_in_type: "speed_units"
    scale:
      linear: 0.3
      rotational: 0.5
      joint: 0.1
    system_latency_compensation: 0.04

    publish_period: 0.004
    low_latency_mode: false
    command_out_type: "trajectory_msgs/JointTrajectory"
    publish_joint_positions: true
    publish_joint_velocities: false
    publish_joint_accelerations: false

    smoothing_filter_plugin_name: "online_signal_smoothing::ButterworthFilterPlugin"

    is_primary_planning_scene_monitor: false

    low_pass_filter_coeff: 20.0

    planning_frame: base_link

    ee_frame_name: gripper_tcp
    robot_link_command_frame: base_link

    incoming_command_timeout: 0.1
    num_outgoing_halt_msgs_to_publish: 4

    lower_singularity_threshold: 100.0
    hard_stop_singularity_threshold: 200.0
    joint_limit_margin: 0.2

    cartesian_command_in_topic: /delta_twist_cmds
    joint_command_in_topic: /delta_joint_cmds
    joint_topic: /merged_joint_states
    status_topic: /servo_node/status
    command_out_topic: /scaled_joint_trajectory_controller/joint_trajectory

    check_collisions: true
    collision_check_rate: 50.0
    collision_check_type: stop_distance
    self_collision_proximity_threshold: 0.01
    scene_collision_proximity_threshold: 0.01
    collision_distance_safety_factor: 1000.0
    min_allowable_collision_distance: 0.01